<div class="container">
    <div class="row">
        <h4 class="text-center">Reusable component with @input and @output</h4>
        <table class="teble table-bordered">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th *ngFor="let coloumn of coloumnKeys">{{coloumn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData;let i=index;t">
                    <td>{{i+1}}</td>
                    <td *ngFor="let coloumn of coloumnKeys">
                        <div  *ngIf="coloumn =='Action' && showActionButton">
                            <button class="btn btn-primary btn-sm" (click)="onEditUser(item)">Edit</button> &nbsp;
                            <button class="btn btn-dark btn-sm" (click)="onDeleteUser(item)">Delete</button>
                        </div>
                        <div  *ngIf="coloumn !='Action'">
                            {{item[coloumn]}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>