<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Angular Practice</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/one">One</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/two">Two</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/three">Three</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/four">Four</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/five">Five</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/six">Six</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/seven">Seven</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>