<div class="container">
    <h3>Template Driven form</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text"  name="firstname" id="firstname" placeholder="enter first name" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Middle Name</label>
                <input type="text" name="middlename" id="middlename" placeholder="enter middle name"
                    class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastname" id="lastname" placeholder="enter last name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col">
                <label for="">Full Name</label>
                <input type="text" name="fullname" id="fullname" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Select DOB</label>
                <input type="date" name="dob" id="dob" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Age</label>
                <input type="text" name="age" id="age" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Licence No</label>
                <input type="text" name="licence" id="licence" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mt-4">
            <div class="form-group">
                <label for="">Education / Study</label>
                <select name="education" id="education" class="form-control">
                    <option value="">>Select Education</option>
                    <option value="diploma">diploma</option>
                    <option value="degree">degree</option>
                    <option value="masters">masters</option>
                </select>
            </div>
        </div>
    </div>
</div>