<div>
    <strong>Inline Editing</strong>
    <i class="fas fa-heart"></i>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <button class="btn btn-success mt-2 mb-2" (click)="onAdd()">Add</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="table-success">
                    <tr>
                        <th>Id </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>UserName</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    <tr *ngFor="let item of allUsers;let srNo=index">
                        <td>{{srNo+1}}</td>
                        <td>
                            <div *ngIf="item.isEdit">
                                <input type="text" [(ngModel)]="item.name" name="" id="" class="form-control">
                            </div>
                            <div *ngIf="!item.isEdit">
                                {{item.name}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.isEdit">
                                <input type="text" [(ngModel)]="item.email" name="" id="" class="form-control">
                            </div>
                            <div *ngIf="!item.isEdit">
                                {{item.email}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.isEdit">
                                <input type="text" [(ngModel)]="item.username" name="" id="" class="form-control">
                            </div>
                            <div *ngIf="!item.isEdit">
                                {{item.username}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="item.isEdit">
                                <input type="text" [(ngModel)]="item.phone" name="" id="" class="form-control">
                            </div>
                            <div *ngIf="!item.isEdit">
                                {{item.phone}}
                            </div>
                        </td>

                        <td class=" text-center">
                            <div *ngIf="!item.isEdit">
                                <i class="fa fa-pen px-2" (click)="onEdit(item)"></i>
                                <i class="fa fa-trash"></i>
                            </div>
                            <div *ngIf="item.isEdit">
                                <i class="fa fa-cloud px-2" (click)="onUpdate(item)"></i>
                                <i class="fa fa-times-circle" (click)="onCancel(item)"></i>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>